language: go

go: 
  - "1.11.x"

sudo: required

env:
  global:
  - PATH=$HOME/.local/bin:$PATH

install:
- curl https://glide.sh/get | sh
- mkdir -p $HOME/.local/bin
- curl -o $HOME/.local/bin/prototool -sSL https://github.com/uber/prototool/releases/download/v0.1.0/prototool-$(uname -s)-$(uname -m)
- chmod +x $HOME/.local/bin/prototool

script:
- diff -u <(echo -n) <(gofmt -l -s $(go list -f '{{.Dir}}') | grep -v '/vendor/')
- prototool format -d api/v3/clairpb/clair.proto
- prototool lint api/v3/clairpb/clair.proto
- go test $(glide novendor | grep -v contrib)

dist: trusty

services:
  - postgresql

notifications:
  email: false

matrix:
  include:
  - addons:
      apt:
        packages:
        - rpm
      postgresql: 9.5
  - addons:
      apt:
        packages:
        - rpm
      postgresql: 9.6
