# global config
---
global:
  scrape_interval: 4s
  evaluation_interval: 30s
  # scrape_timeout is set to the global default (10s).
scrape_configs:
  - job_name: indexer
    metrics_path: "/metrics"
    static_configs:
      - targets: ['clair-indexer:8089']

  - job_name: matcher
    metrics_path: "/metrics"
    static_configs:
      - targets: ['clair-matcher:8089']

  - job_name: clair-notifier
    metrics_path: "/metrics"
    static_configs:
      - targets: ['clair-notifier:8089']

  - job_name: notifier
    metrics_path: "/metrics"
    static_configs:
      - targets: ['notifier:8089']

  - job_name: indexer-quay
    metrics_path: "/metrics"
    static_configs:
      - targets: ['indexer-quay:8089']

