---
name: Release

on:
  push:
    tags:
      - v4.*
  workflow_dispatch: {}

jobs:
  release-archive:
    name: Create Release Archive
    runs-on: 'ubuntu-latest'
    steps:
      - name: Setup
        run: |
          tag=`basename ${{ github.ref }}`
          cat <<.
          ::set-env name=PREFIX::clair-${tag}/
          ::set-env name=TAG::${tag}
          .
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create Release Archive
        run: |
          go mod vendor
          git archive --prefix "${PREFIX}" -o clair.tar "${GITHUB_REF}"
          tar -rf clair.tar --transform "s,^,${PREFIX}," vendor
          gzip clair.tar
      - name: ChangeLog
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = workflow_dispatch ]; then
            echo "workflow trigger, skipping"
            touch changelog
            exit 0
          fi
          curl -o git-chglog -L https://github.com/git-chglog/git-chglog/releases/download/0.9.1/git-chglog_linux_amd64
          chmod u+x git-chglog
          echo "creating change log for tag: $TAG"
          ./git-chglog "${TAG}" > changelog
      - name: Upload Release Archive
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: |
            clair.tar.gz
            changelog
          if-no-files-found: error

  release-binaries:
    name: Create Release Binaries
    runs-on: 'ubuntu-latest'
    container: docker.io/library/golang:1.15
    needs: release-archive
    strategy:
      matrix:
        goarch: ['arm64', 'amd64', '386']
        goos: ['linux', 'windows', 'darwin']
        exclude:
          - goos: darwin
            goarch: '386'
          - goos: windows
            goarch: arm64
    env:
      GOOS: ${{matrix.goos}}
      GOARCH: ${{matrix.goarch}}
    steps:
      - name: Fetch Artifacts
        uses: actions/download-artifact@v2
        id: download
        with:
          name: release
      - name: Unpack and Build
        run: |
          tar -xz -f ${{steps.download.outputs.download-path}}/clair.tar.gz --strip-components=1 -C "${{github.workspace}}"
          go build -o "clairctl-${{matrix.goos}}-${{matrix.goarch}}" ./cmd/clairctl
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: clairctl-${{matrix.goos}}-${{matrix.goarch}}
          if-no-files-found: error
      - name: Create Artifact on Failure
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: workspace-${{matrix.goos}}-${{matrix.goarch}}
          path: ${{ github.workspace }}

  release:
    name: Release
    runs-on: 'ubuntu-latest'
    if: github.event_name == 'push'
    needs: [release-archive, release-binaries]
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Setup
        run: |
          tag=`basename ${{ github.ref }}`
          cat <<.
          ::set-env name=VERSION::${tag}
          ::set-env name=PREFIX::clair-${tag}/
          ::set-env name=TAG::quay.io/projectquay/clair:${tag#v}
          ::set-env name=QUAY_USER::projectquay+clair_github
          ::add-mask::${{ secrets.QUAY_TOKEN }}
          .
      - name: Fetch Artifacts
        uses: actions/download-artifact@v2
        id: download
        with:
          name: release
      - name: Create Release
        uses: actions/create-release@latest
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ env.VERSION }} Release
          body_path: ${{steps.download.outputs.download-path}}/changelog
          prerelease: ${{ contains(env.VERSION, 'alpha') || contains(env.VERSION, 'beta') || contains(env.VERSION, 'rc') }}
      - name: Publish Release Archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{steps.download.outputs.download-path}}/clair.tar.gz
          asset_name: clair-${{ env.VERSION }}.tar.gz
          asset_content_type: application/gzip

  publish-binaries:
    name: Publish Binaries
    runs-on: 'ubuntu-latest'
    needs: [release-archive, release]
    strategy:
      matrix:
        goarch: ['arm64', 'amd64', '386']
        goos: ['linux', 'windows', 'darwin']
        exclude:
          - goos: darwin
            goarch: '386'
          - goos: windows
            goarch: arm64
    steps:
      - name: Fetch Archive
        uses: actions/download-artifact@v2
        id: download
        with:
          name: release
      - name: Publish clairctl-${{matrix.goos}}-${{matrix.goarch}}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ${{steps.download.outputs.download-path}}/clairctl-${{matrix.goos}}-${{matrix.goarch}}
          asset_name: clairctl-${{matrix.goos}}-${{matrix.goarch}}
          asset_content_type: application/octet-stream

  publish-container:
    name: Publish Container
    runs-on: 'ubuntu-latest'
    needs: [release-archive, release]
    steps:
      - name: Setup
        run: |
          tag=`basename ${{ github.ref }}`
          cat <<.
          ::set-env name=CLAIR_VERSION::${tag}
          ::set-env name=TAG::quay.io/projectquay/clair:${tag#v}
          ::set-env name=QUAY_USER::projectquay+clair_github
          ::add-mask::${{ secrets.QUAY_TOKEN }}
          .
      - name: Fetch Artifacts
        uses: actions/download-artifact@v2
        id: download
        with:
          name: release
      - name: Build Release Container
        run: >
          docker build
          --build-arg CLAIR_VERSION
          --tag "${TAG}"
          -
          <${{steps.download.outputs.download-path}}/clair.tar.gz
      - name: Publish Release Container
        run: |
          docker login -u "${QUAY_USER}" -p '${{ secrets.QUAY_TOKEN }}' quay.io
          docker push "${TAG}"

  deploy-documentation:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'
      - name: Build
        run: mdbook build --dest-dir "./book/${GITHUB_REF#refs/tags/}"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          keep_files: true
