---
on:
  release:
    types:
      - published
    tags:
      - v4.*

name: Upload Release Assets

jobs:
  build:
    name: Upload Release Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare Environment
        run: |
          : "${tag:=${GITHUB_REF#refs/tags/}}"
          cat <<.
          ::set-env name=CLAIR_VERSION::${tag}
          ::set-env name=PREFIX::clair-${tag}/
          ::set-env name=TAG::quay.io/projectquay/clair:${tag#v}
          ::set-env name=QUAY_USER::projectquay+clair_github
          ::add-mask::${{ secrets.QUAY_TOKEN }}
          .
      - name: Create Release Archive
        run: |
          go mod vendor
          git archive --prefix "${PREFIX}" -o clair.tar "${GITHUB_REF}"
          tar -rf clair.tar --transform "s,^,${PREFIX}," vendor
          gzip clair.tar
      - name: Build Release Container
        run: |
          build=$(mktemp -d)
          trap "rm -rf '${build}'" EXIT
          tar -xzf clair.tar.gz -C "${build}" --strip-components 1
          docker build --build-arg CLAIR_VERSION --tag "${TAG}" "${build}"
      - name: Publish Release Archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./clair.tar.gz
          asset_name: clair-${{ env.CLAIR_VERSION }}.tar.gz
          asset_content_type: application/gzip
      - name: Publish Release Container
        run: |
          docker login -u "${QUAY_USER}" -p '${{ secrets.QUAY_TOKEN }}' quay.io
          docker push "${TAG}"
  deploy-documentation:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'
      - name: Build
        run: mdbook build --dest-dir "./book/${GITHUB_REF#refs/tags/}"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          keep_files: true
