---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  commit-check:
    name: Commit Check
    runs-on: ubuntu-latest
    steps:
      - name: commit check
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: |
            ^(.*):\s*(.*)\n          
          error: 'Commit must begin with <scope>: <subject>'

  tidy:
    name: Tidy
    runs-on: ubuntu-latest
    container: docker.io/library/golang:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Go Tidy
        run: go mod tidy
      - name: Git Diff
        run: git diff --exit-code
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'
      - run: mdbook build
  tests:
    name: Tests
    runs-on: ubuntu-latest
    container: docker.io/library/golang:${{ matrix.go }}-alpine
    env:
      POSTGRES_CONNECTION_STRING: "host=clair-db port=5432 user=clair dbname=clair sslmode=disable"
      RABBITMQ_CONNECTION_STRING: "amqp://guest:guest@clair-rabbitmq:5672/"
      STOMP_CONNECTION_STRING: "clair-activemq:61613"
    services:
      clair-db:
        image: postgres:11.5
        env:
          POSTGRES_USER: "clair"
          POSTGRES_DB: "clair"
          POSTGRES_INITDB_ARGS: "--no-sync"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      clair-rabbitmq:
        image: rabbitmq:3.8.5
        env:
          RABBITMQ_VM_MEMORY_HIGH_WATERMARK: "85%"
      clair-activemq:
        image: webcenter/activemq:5.14.3

    strategy:
      matrix:
        go: ['1.13', '1.14', '1.15']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: OS Dependencies
        run: apk add --no-cache tar rpm build-base
      - name: Go Dependencies
        run: go mod vendor
      - name: Tests
        run: go test -tags integration ./...
